# Build artifacts
*.o
obj/
isodir/
initrd.tar
kernel.bin
liwus_disk.img
liwusos.iso
pendrive.img
pen/*.mp3
pen/*.MP3

# Binaries and packages
*.elf
*.liw
*.liwpkg
sdk/tools/liw-builder

# IDE and Tooling
.gemini/
.DS_Store
*.swp
*.bak
.aider*

# Logs and Temp
*.log
output
test_transform
*backup*
