set timeout=15
set default=0

menuentry "LiwusOS Installer (Live CD)" {
	multiboot /boot/kernel.bin mode=install
	module /boot/initrd.tar
}

menuentry "LiwusOS (Disco Rigido)" {
	multiboot /boot/kernel.bin mode=os
	module /boot/initrd.tar
}
