set timeout=5
set default=0

# Modo texto puro - sem framebuffer gráfico
# gfxpayload=text força GRUB a deixar VGA 80x25 ativo
# kernel usa 0xB8000 diretamente

menuentry "LiwusOS x86_64 (modo texto)" {
	set gfxpayload=text
	multiboot2 /boot/kernel.bin
	module2 /boot/initrd.tar
}